name: Bomanai Scanner
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Boman-scan:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      # - name: test osv
      #   run: docker run -v ${PWD}:/src ghcr.io/google/osv-scanner --format json --output /src/boman_osv_results.json  --no-ignore -r ./src/
      - name: Install packages
        # run: sudo pip install --extra-index-url https://test.pypi.org/simple/ boman-cli-uat
        run: sudo pip install boman-cli
      - name: Run scan
      #   env:
      #     APP: ${{ secrets.APP_TOKEN }}
      #     USER: ${{ secrets.CUSTOMER_TOKEN }}
      #   # run: sudo boman-cli-uat -a run -u https://qa.boman.ai -at "$APP" -ct "$USER"
        # run: sudo boman-cli-uat -a run -u https://qa.boman.ai -at 800be0f3-d91a-4f5b-9e04-469544501d06 -ct 48bbf89e-b5c7-419e-8f56-6f00b53a6a86
      #   # run: sudo boman-cli -a run -at "$APP" -ct 
        run: sudo boman-cli -a run -at d0a43309-f3a4-4506-bc3d-1e665089a8b8 -ct 55ca1a9d-61a0-45af-b15d-8b49e2e4208c
